#myCarousel  {
    background-image: url(../kuvat/Pinder.png);
    background-position: center;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    align-content: center;
}


 @media (min-width: 700px) {
   
     #myCarousel {
        padding-right: 27%;
        padding-left: 27%;
     }
 }